.body {
    background-color: #FFDEAD;
}

.div-tt {
    padding-left: 30%;
    padding-right: 30%;
}

.title {
    text-align: center;
    background-color: #FF4500;
    font-family: cursive;
    border-radius: 10px;
}

.div-form {
    border-color: #000000;
    border: solid;
    border-radius: 10px;
}

.form {
    text-align: center;
    padding-top: 10px;
}

.form-div {
    padding-bottom: 10px;
}

.bt-show {
    background-color: #FF7F50;
    font-family: cursive;
    border: solid, 0.1px, #483D8B;
}

.bt-save {
    background-color: #228B22;
    font-family: cursive;
    border: solid, 0.1px, #483D8B;
}

.bt-clear {
    background-color: #A52A2A;
    font-family: cursive;
    border: solid, 0.1px, #483D8B;
}

.img-div {
    border-radius: 60%;
    width: 100%;
    max-width: 150px;
}

.div-img {
    text-align: center;
    padding: 50px;
}